@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@500&family=Pinyon+Script&display=swap');

body {
    background-image: url("Apple In The Sky.png");
    background-size:cover;
}

.mindspace {
    display:flexbox;
    font-family:'Elsie Swash Caps';
    font-size:75pt;
    color:#ABB0CE;
    margin:10px 0px 20px 1350px;
    
}
 
.mind{
    font-family:'Elsie Swash Caps';
    color:#ABB0CE;
    font-size:15pt;
    margin-left:1325;
 }
.button1 {
    background-color:#ABB0CE;
    transition-duration:0.4s;
    color:white;
    padding: 5px 5px;
    font-size:20pt;
    font-family:'Elsie Swash Caps';
}
.button1:hover{
    background-color:white;
    color:black;
}
.button2 {
    background-color:#ABB0CE;
    transition-duration:0.4s;
    color:white;
    padding: 5px 5px;
    font-family:'Elsie Swash Caps';
    font-size: 20pt;
}
.button2:hover{
    background-color:white;
    color:black;
}
.button3 {
    background-color:#ABB0CE;   
    transition-duration:0.4s;
    color:white;
    padding: 5px 5px;
    font-family:'Elsie Swash Caps';
    font-size:20pt;
}
.button3:hover{
    background-color:white;
    color:black;
}
.container1 {
    background-color:lightgray;
    opacity:0.3;
    margin:50px 1535px 20px 100px;
}
.box {
    display:inline-table;
    align-items: center;
    margin:10px 10px 10px 10px;
}
.container2 {
    background-color:lightgray;
    opacity:0.3;
    margin:50px 1555px 20px 100px;
}
.container3 {
    background-color:lightgray;
    opacity:0.3;
    margin:50px 1520px 10px 100px;
}